<header>

    <!-- ---------------------- Input ---------------------- -->
    <!-- Input con formato viejo (con decoradores) -->
    <!-- <h1> {{ mensaje }} </h1> -->

    <!-- Input con formato actual (con señales) -->
    <!-- <h1> {{ mensaje() }} </h1> -->

    <!-- ---------------------- Output ---------------------- -->
     <!-- <button (click)="ejecutarEnvio()">Enviar</button> -->

    <nav>
        <ul>
            <li><a routerLink="/movie-form">Formulario</a></li>
            <li><a routerLink="/movie-list">Peliculas</a></li>
            <li><a routerLink="/">Inicio</a></li>
        </ul>
    </nav>


</header>

